name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    strategy:
      matrix:
        node-version: [20.x, 22.6] # Need to use 22.6 due to Next.js build errors: https://github.com/vercel/next.js/issues/69263
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    name: Build with ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run build

  test:
    strategy:
      matrix:
        node-version: [20.x]

    name: Run all tests
    runs-on: ubuntu-latest

    env:
      CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
      NEXT_PUBLIC_CLERK_SIGN_IN_URL: ${{ secrets.NEXT_PUBLIC_CLERK_SIGN_IN_URL }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Retrieve Git history, needed to verify commits
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - run: bun install

      - name: Build Next.js for E2E tests
        run: bun run build

      - if: github.event_name == 'pull_request'
        name: Validate all commits from PR
        run: bunx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: Linter
        run: bun run lint

      - name: Type checking
        run: bun run check-types

      - name: Run unit tests
        run: bun run test -- --coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4

      - name: Install Playwright (used for Storybook tests)
        run: bunx playwright install --with-deps

      - name: Run storybook tests
        run: bun run test-storybook:ci
